*{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
.header{
	background: #185B0D;
}
.container_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 36px 0;
}
.nav__list{
	display: flex;
	list-style: none;
}
.logo__text{
	margin-left: 10px;
	color : red;
}
.logo__block{
	display: flex;
	align-items: center;
}
.nav__item{
	color: #FFF;
}
.nav__item:not(:last-child){
	margin-right: 63px;
}
.nav__item:first-child{
	color : #F00;
}
.hero-block__img{
	width: 563px;
	height: 583px;

}
.container_hero-block{
	padding-top: 53px;
	padding-bottom: 71px;
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.hero-block{
	background-color: #2C2C2C;
}
.hero-block__img{
	width: 563px;
}
.hero-block__title{
	margin-bottom: 30px;
	color: #E4E4E4;
	font-family: 'Amatic SC', sans-serif;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.hero-block__content{
	max-width: 475px;
}
.hero-block__text{
	color: #E4E4E4;
	font-family: 'Amatic SC', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.hero-block__link{
	border-radius: 6px;
	background: linear-gradient(87deg, #00E0FF 4.47%, #23ADC0 28.18%, #1FB3C7 53.32%, #506C70 95.52%, #000 95.53%);
	box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
	padding:15px 132px 15px 20px;
	margin-top: 30px;
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-family: 'Amatic SC', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.about{
	background-color:#3E3E3E; 
}
.about__title{
	color: #E4E4E4;
	text-align: center;
	margin-bottom: 93px;
}
.bar__title{
color: #FFF;
}
.bar__rate__done{
	width: 80%;
	height: 10px;
	background: gray;
}
.bar__rate__full{
	width: 356px;
	height: 10px;
	background-color: blue;
}
.bar__item{
	padding: 20px;
}
.about__content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container_about{
	padding: 70px 212px;
}
.bar__list{
	list-style: none;
}
.video{
	background: #2C2C2C;

}
.container_video{
	padding: 70px 94px;

}
.video__title{
	color: #E4E4E4;
	font-family: 'Amatic SC', sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 51px;
	text-align: center;
}
.video__video{
	width: 100%;
	height: 661.248px;
	border: 50px solid #414141;
	border-radius: 29px;
	box-sizing: border-box;
}
.gallery__img{
	width: 100%;
	height: 100%;
}
.gallery__title{
	color: #E4E4E4;
	font-family: 'Amatic SC', sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	margin-bottom: 92px;
}
.gallery{
	background-color: #3E3E3E;
	padding: 70px 0 222px;
}
.gallery__list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.gallery__item{
	width: 33.3%;
	height: 392px;
}
.footer{
	background: #2C2C2C;
}
.container_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0 52px;
}
.footer__title{
	color: #E4E4E4;
	font-family: "Nico Moji";
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 18px;
}
.footer__text{
	color: #FFF;
	font-family: "Nico Moji";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 164.063%; /* 26.25px */
}
.footer__list{
	display: flex;
	list-style: none;
}
.footer__item{
	margin-right: 40px;
}
.author{
	background-color: #2C2C2C;
}
.block_author{
	
	color: #E4E4E4;
	font-family: 'Amatic SC', sans-serif;
	font-size: 72px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.nav__link{
	color: gray;
}
.author__cc{
	color: #E4E4E4;
	font-family: 'Amatic SC', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}